.b-header{
	.container{width: 95%;}
}
.b-header_bg{background-color: $accent_default;}
.b-top_bar_left{
	padding: 10px 0; line-height: 21px;
	a{border-bottom: 1px solid rgba(255,255,255,0.3);}
}
.b-topbar_menu ul{ 
	padding: 0; margin: 0;
	> li {
    	position: relative; margin-left: -2px; display: inline-block; line-height: 42px;
    	a{
    		color: #fff; text-transform: uppercase; font-size: 12px; position: relative; padding-top: 1px; padding-bottom: 1px;
    		&::after{content: " "; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: rgba(255,255,255,.7); transition: width .2s ease; -webkit-transition: width .2s ease;}
    		&:hover{
    			text-decoration: none;
    			&::after{width: 100%;}
    		}
    	}
    	&::after{content: " "; display: inline-block; height: 25px; width: 1px; background-color: rgba(255,255,255,.1); margin-left: 12px; margin-right: 12px; vertical-align: middle;}
	}
	> li:last-child{
		&::after{display: none;}
	}
}	

.b-header{
    border-bottom: 2px solid #f5f5f5; 
}
.b-header_nav{
    nav{
        ul{ 
            margin-bottom: 0;
            li{
                display: inline-block; 
                a{
                    text-transform: uppercase; padding:40px 13px; color: rgba(0,0,0,.9); display: inline-block;
                    &:hover{color: $accent_default;}
                }
            }
            li:first-child{
                a{padding-left: 0;}
            }
        }
    }
}
.b-logo{
    text-align: center; padding: 0 0;
    img{max-height: 86px;}
}
.b-header_right{
    display: table; height: 96px; line-height: 96px; float: right; 
    > div{
        display: table-cell; vertical-align: middle;
    }
    .b-search_icon,.b-wishlist_icon,.b-cart_basket{
        padding: 0 12px;
        a{color: rgba(0, 0, 0, 0.9); height: 30px; line-height: 30px; text-align: center; vertical-align: middle;}
        i{font-size: 20px;}
    }
    .b-search_icon{padding-left: 25px;}
    .b-heart_icon{
        a{
            &:hover{
                i:before{font-family: "FontAwesome"; content: '\f004'; font-size: 20px;}
            }
        }
    }
    .b-wishlist_icon{
        a{position: relative;}
        span{background-color: $accent_default; display: inline-block; height: 15px; width: 15px; text-align: center; vertical-align: middle; line-height: 15px; color: #fff; @include border-radius(50%); font-size: 11px; position: absolute; top: -8px; left: 110%;}
    }
    .b-cart_basket{padding-left: 22px;}
    .b-cart_totals{
        margin-left: 5px; position: relative; top: -5px; 
        .b-cart_amount{font-weight: bold;}
    }
    .b-header_links{
        border-right: 2px solid #f5f5f5; padding-right: 35px;
        ul{
            li{
                a{
                    font-style: italic; font-size: 13px; color: rgba(0, 0, 0, 0.9); position: relative; top: -3px; position: relative;
                    &::after{content: " "; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: rgba(0,0,0,.5); transition: width .2s ease; -webkit-transition: width .2s ease;}
                    &:hover{
                        text-decoration: none;
                        &::after{width: 100%;}
                    }
                }
            }
        }
    }
}

.b-page_title_default {background-color: #0a0a0a; background-size: cover; }
.b-page_title{
    width: 100%; border-bottom: 1px solid rgba(168,168,168,.15); padding: 15px 15px 20px; margin-bottom: 40px;; position: relative; color: rgba(255,255,255,.8);
    .b-entry_title{font-size: 36px; margin-bottom: 5px; text-transform: uppercase;}
}
.b-breadcrumbs{
    a,span{color: rgba(255,255,255,.9); font-size: 14px; display: inline-block;}
    a{padding-right: 20px; position: relative; margin-right: 5px;}
    a:hover{text-decoration: underline;}
    a::after{content:"/"; width: 10px; position: absolute; right: 0; top: 0}
    > a:first-child::before{content: "\f015";display: inline-block; margin-right: 5px; font-family: FontAwesome;}
}
.b-header_dark{
    background-color: #000; border-bottom-color: #000;
    .b-nav_icon{color: #fff;}
    .b-header_nav {
        nav {
            ul {
                li {
                    a{color: #fff;}
                }
            }
        }
    }
    .b-header_right {
        .b-header_links {
            border-right: 1px solid rgba(245, 245, 245, 0.36);
            ul li a{color: #fff; &::after{background-color: rgba(255,255,255,0.9);}}
        }
        .b-search_icon,.b-wishlist_icon,.b-cart_basket{
            a{color: rgba(255, 255, 255, 0.9);}
        }
        .b-wishlist_icon{
            span{background-color: $accent_default_pink;}
        }
    }
}
.b-header_main{top: -70px; @extend .d-transition_slow;}
.b-header_fixed {
    padding-top: 70px;
    .b-header_main{
        position: fixed; width: 100%; top: 0; left: 0; z-index: 999; background-color: #FFF; height: 68px;
        .b-menu_top_bar_container .b-main_menu{padding-top: 0}
        .b-header_right{height: 65px; line-height: 65px;}
        .b-logo{padding: 5px 0 0;}
        .b-main_menu:not(.b-vertical) > ul, .b-main_menu:not(.b-vertical) > ul > li, .b-main_menu:not(.b-vertical) > ul > li > a, .b-main_menu:not(.b-vertical) > ul > li.b-dropdown_wrapper > a .fa-angle-down, .b-main_menu.b-vertical .menu-heading{line-height: 60px; height: 60px;}
        &.b-header_dark{
            background-color: #000;
        }
    }
}


.b-search_open{overflow: hidden;}
.b-search_popup{
    position: fixed; background-color: rgba(0,0,0,.9); left: 0; top: 100%; z-index: 999; width: 100%; height: 100%; @extend .d-transition_fast;
    form{padding:30px 80px; div{position: relative;}}
    input[type="text"]{
        border: none; border-bottom: 2px solid rgba(255,255,255,.3); padding-left: 0; padding-right: 90px; padding-bottom: 0; padding-top: 0; font-family: Lora,"MS Sans Serif",Geneva,sans-serif;  font-size: 68px; color: #fff; letter-spacing: 1px; line-height: 120px; height: 122px; background-color: transparent; box-shadow: none;
        &:focus{border: none; border-bottom: 2px solid #fff;}
    } 
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #808080; opacity: 1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #808080; opacity: 1;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #808080; opacity: 1;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #808080; opacity: 1;
    }
    .b-searchsubmit{
        position: absolute; top: 0; right: 0; background-color: transparent; border: none; padding: 0; font-size: 0; font-weight: 400; vertical-align: top; width: 80px; text-align: center;
        &::before{@extend .d-transition_slow; content: "\e090"; font-size: 60px; line-height: 120px; color: rgba(255,255,255,.5); display: inline-block; font-family: simple-line-icons;}
    }
    .b-close_search{
        @extend .d-transition_slow; position: absolute; cursor: pointer; right: 80px; bottom: 50px; color: #fff; text-transform: uppercase; font-size: 32px; font-weight: 700; letter-spacing: 1.5px; line-height: 33px; padding-right: 50px; z-index: 301;
        &::after,&::before{
            @extend .d-transition; content: ""; width: 35px; height: 3px; position: absolute; right: 0; top: 15px; display: inline-block; background-color: #fff;
        }
        &:hover{
            &::before{-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); -sand-transform: rotate(45deg); transform: rotate(45deg);}
            &::after{-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -sand-transform: rotate(-45deg); transform: rotate(-45deg);}
        }
    }
}
.p-static{position: static !important;}
.p-relative{position: relative !important;}
/* Header 01*/
body.b-header_fixed{
    .b-header01{
        .b-search_bar{display: none;}
         .header_fixed-hidden{ display: block;}
    }
}
.b-header01{
    .container{ width:95%;}
    .b-header01-nav{ 
        border-bottom: 1px solid rgba(168,168,168,.2);
        position: relative; 
        .b-menu_top_bar_container .b-main_menu{ 
            padding-top:0;  
        }
    }
    .b-search_bar{
        padding:20px;
        form{
            position: relative;
        }
        button.btn {position: absolute; right: 0; top: 0; background: transparent; border: none; padding-top: 13px; padding-bottom: 8px; font-size: 20px; font-weight: 700;}
        input[type="text"]{border-width: 2px; height: 45px;}
    }
    .header_fixed-hidden{display: none;}
}
@media (max-width: 1170px){
    .b-header01,.b-header05{
        .b-main_menu > ul > li{
            position: static;
            > a{position: relative;}
        }
        .b-dropdown_content{
            left: 0; max-width: 100%;
        }
    }
}
/* Header 04 */
body.b-header_fixed{
    .b-header04{
        .header_fixed-hidden{ display: none;}
        .b-header_nav_center{ display: block;}
    }
}
.b-header04 {
    .b-header04-nav{
        border-top: 1px solid rgba(168,168,168,.2);
        border-bottom: 1px solid rgba(168,168,168,.2);
        position: relative;
        .b-menu_top_bar_container .b-main_menu{ padding-top:0;
            ul {line-height: 52px; height: 52px;
                li {line-height: 52px; height: 52px;
                    > a{line-height: 52px; height: 52px;}
                }
            }
        }               
    }
    .b-header_nav_center{display: none;}
    .premium-text{padding:40px 0;}  
}

@media (max-width: 1170px){
    .b-header .container{width: 100%;}
    .b-header_right .b-header_links{border-right: 1px solid #f5f5f5; padding-right: 15px;}
    .b-header_nav nav ul li a{padding: 40px 9px;}
    .b-header_right .b-search_icon{padding-left: 20px;}
    .b-header_right .b-cart_basket {padding-left: 8px;}
    .b-header_nav_center .b-main_menu > ul > li.b-dropdown_wrapper > a{padding-left: 5px !important;}
}
@media (max-width: 1023px){
    .b-header_right .b-cart_basket{padding-right: 20px !important;} 
    .b-nav_icon{
        font-size: 18px; position: relative; top: 3px; margin-left: 9px;
    }
    .b-search_popup input[type="text"]{font-size: 38px;}
}
@media (max-width: 767px){
    .b-header{
        .container{width: 100%;}
        .col-xs-6{
            width: 50%;
            .b-header_right{
                height: 75px; line-height: 75px;
                .b-cart_totals {margin-left: 5px; position: absolute; top: 16px;padding: 0px 4px; background: #dedede; height: 15px; line-height: 15px; @include border-radius(50%); font-size: 11px; display: inline-block;}      
            }
            .b-cart_totals{
                .b-subtotal_divider,.b-cart_subtotal{display: none;}
            }
        }
    }
    .b-header_fixed .b-header_main{
        height: 48px;
       .col-xs-6 .b-header_right{
         height: 50px; line-height: 55px;
         .b-cart_totals{top: 7px;}
       }
    }
    .b-search_popup form {
        padding: 10px;
    }
    .b-search_popup {
        input[type="text"]{font-size: 15px; line-height: 70px; height: 70px;}
        .b-searchsubmit::before{font-size: 22px; line-height: 75px;}
    }
    .b-topbar_menu ul > li::after{margin-left: 4px; margin-right: 4px;}
} 

