.b-newsletter_bg{
	background-image: url("../images/newsletter_bg.jpg"); background-repeat: no-repeat;  padding: 8% 25px; background-position: center; background-size: cover;
}
.b-newsletter_inner{
	h3{font-family: $blog_heading_font; font-size: 26px; color: #ffffff; line-height: 1; margin-bottom: 20px; font-weight: normal;}
	h2{font-family: $blog_heading_font; font-size: 58px; color: #ffffff; line-height: 1; margin-bottom: 20px; font-weight: normal;}
	p{color: rgba(255,255,255,.8); max-width: 420px; line-height: 1.5; margin: auto auto 25px;}
}
.b-newsletter_form{
	max-width: 590px; position: relative; margin: 0 auto;
	label{display: none;}
	.form-group{
		position: relative;  width: 100%; margin-right: 3px;
		&::before{content: "\f0e0"; color: #fff; font-family: FontAwesome; position: absolute; left: 0; top: 10px; font-size: 14px; opacity: .4;}
	}
	input[type="email"]{
		padding-left: 25px; color: #fff; display: block; min-height: 40px; background-color: transparent; border: none; border-bottom: 2px solid rgba(255,255,255,.7);  box-shadow: none; width: 100%;
		&:focus{border: none; border-bottom: 2px solid rgba(255,255,255,.7);}
	} 
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #fff; opacity: 1;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #fff; opacity: 1;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #fff; opacity: 1;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #fff; opacity: 1;
	}
}

.b-submit{
	cursor: pointer; padding: 10px 55px; background-color: #fff; background-color: #fff; color: #5F5F5F; border-color: #fff; color: #5F5F5F; text-align: center; line-height: 18px; text-transform: uppercase; letter-spacing: .3px; border-radius: 0; border: 1px solid; border-color: #fff;
	&:hover{background-color: #292929; color: #fff; text-decoration: none; border-color: #292929;}
}

.b-newslatter_bg_dark{
	background-color: #000; background-image: url("../images/banner/home-watch/bg-watch.jpg"); background-repeat: no-repeat; background-position: center; padding: 70px 10px 70px 10px;
	p{max-width: 100% !important;}
}

.b-newslatter_bg_grey{
	background-color:#f2f2f2; background-image: url("../images/newsPaper.png"); background-repeat: no-repeat; background-position: 15px center; padding: 40px 10px 40px 10px;
	h3,p{color: #212121;}
	p{max-width: 100% !important;}
	.b-newsletter_form {
		input[type="email"]{border-bottom: 2px solid rgba(0, 0, 0, 0.7); color: #000}
		.form-group::before{color: #000;}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #000; opacity: 1;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #000; opacity: 1;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #000; opacity: 1;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #000; opacity: 1;
		}
		.b-submit{background-color: #000; color: #fff;}
	}
}

.b-newslatter_bg_white{
	background-color: #fff; background-image: url("../images/newsletter_bg_white.jpg"); background-repeat: no-repeat; background-position: 15px center; padding: 40px 10px 40px 10px; background-size: 70%; background-position: 0 100%;
	h3,p{color: #212121;}
	p{max-width: 100% !important;}
	.b-newsletter_form {
		input[type="email"]{border-bottom: 2px solid rgba(0, 0, 0, 0.7); color: #000}
		.form-group::before{color: #000;}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #000; opacity: 1;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #000; opacity: 1;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #000; opacity: 1;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #000; opacity: 1;
		}
		.b-submit{background-color: #000; color: #fff;}
	}
}