.b-section_title{
	padding-top: 35px;
	span{letter-spacing: 3px; color: #9b9b9b; font-size: 14px; display: block; margin-bottom: 5px;}
	h4{font-size: 26px; margin-bottom: 35px; position: relative;}
	p{
		 font-size: 16px; font-style: italic; font-family: $blog_heading_font; max-width: 485px; color: #4C4C4C; line-height: 1.5; margin: auto auto 25px; padding: 0 15px;
		a{color: $accent_default; text-decoration: underline;}
	}
	.b-title_separator {
	    display: block;
	    &::before{content: " "; position: absolute; bottom: -12px; left: 50%; margin-left: -34px; width: 24px; height: 1px; display: inline-block; background-color: #DCDCDC;}
	    &::after{content: " "; position: absolute; bottom: -12px; left: 50%; margin-left: 10px; width: 24px; height: 1px; display: inline-block; background-color: #DCDCDC;}
	    span{
	    	&::before {content: " "; position: absolute; bottom: -12px; left: 50%; margin-left: -6px; width: 12px; height: 1px; display: inline-block; background-color: #C1C1C1; @include transform(45deg);}
			&::after {content: " "; position: absolute; bottom: -12px; left: 50%; margin-left: -6px; width: 12px; height: 1px; display: inline-block; background-color: #C1C1C1; @include transform(-45deg);}
	    }
	}	
}

.b-blog_grid{
	.b-blog_single_header{
		position: relative;
		.b-blog_img_wrap{
			background-color: #000;overflow: hidden; display: inline-block; vertical-align: middle;
			a{display: block; margin: -1px; transition: all 1s ease-out; -webkit-transition: all 1s ease-out;}
		}
		.b-post_time{
			position: absolute; top: 10px; left: 10px; background-color: #fff; box-shadow: 0 0 9px rgba(0,0,0,.1); -webkit-box-shadow: 0 0 9px rgba(0,0,0,.1); z-index: 1; min-width: 53px; 
			span{display:block; color: #1B1919;}
			.b-post_day{padding-top: 4px; font-size: 24px;}
			.b-post_month{padding-bottom: 8px; font-weight: 700; text-transform: uppercase; font-size: 12px; letter-spacing: .5px;}
		}
		.b-post_categories{
			position: absolute; bottom: 0; left: 0; width: 100%; 
			.b-post_categorie_list{
				background-color: $accent_default; padding: 0 10px; display: inline-block; color: #fff; font-size: 12px;
				a{display: inline-block; line-height: 25px; color: #fff; text-transform: none; font-size: 12px; &:hover{text-decoration: underline;}}
			}
		}
		.b-post_cat_pink .b-post_categorie_list{
			background-color: $accent_default_pink;
		}
	}
	.b-author_info{
		margin-bottom: 10px; 
		.b-author_name{
			color: #787878; line-height: 1.7; display: inline-block; font-family: $lato_font;
			a{color: $accent_default; font-style: normal; &:hover{text-decoration: underline; opacity: 0.8;}}
		}
		.b-reply{
			&::before{content: "/"; display: inline-block; margin-left: 5px; margin-right: 5px; font-family: $lato_font; font-size: 10px; width: 7px;}
			a{color: #787878; line-height: 1.7; display: inline-block; font-family: $lato_font; &:hover{text-decoration: underline; opacity: 0.8;}}
		}
	}
	.b-blog_single_info{
		h3.b-entry_title{
			
			a{font-family: $blog_heading_font; font-weight: 400; color: #1B1919; font-size: 22px; line-height: 1.2; letter-spacing: .3px; margin-bottom: 15px; &:hover{color: $accent_default;}}
		}
		p{
			line-height: 1.7; margin-bottom: 0; color: #4C4C4C; 
		}

	}
	.b-blog_grid_single{
		margin-bottom: 50px;
		&:hover{
			.b-blog_img_wrap{ a{@include transform_scale(1.1); opacity: 0.6;} }
		}
	}
	.b-read_more{
		a{color: #6D6D6D; border-bottom:1px solid #B5B5B5; &:hover{border-color: #000;}}
	}
}
.btn{display: inline-block;  font-size: 14px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; line-height: 18px; text-transform: uppercase; letter-spacing: .3px; border-radius: 0; border: 1px solid; -webkit-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; transition: all .25s ease-in-out; background-color: #ECECEC; color: #3E3E3E; border-color: #ECECEC;}
.b-load_more{
	a{
		text-transform: uppercase; position: relative; border-color: #000; border-width: 2px; border-radius: 0; font-weight: 600; background-color: transparent; color: #000;
		&:hover{background-color: #000; color: #fff;}
	}
}


/* BLOG DEFAULT */
.d-relative{position: relative !important;}
.b-blog_default{
	.b-blog_single_info {
		h3.b-entry_title{
			margin-top: 20px;
			a{font-size: 32px;}
		}
		p{margin-bottom: 20px;}
	}
	.b-read_more{
		a{color: #6D6D6D; border-bottom:1px solid #B5B5B5; &:hover{border-color: #000;}}
	}
	.b-blog_degault_single{
		margin-bottom: 100px;
	}
	.b-blog_degault_single{
		&:hover{
			.b-blog_img_wrap a{opacity: .6; transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);}
		}
	}
}

/* SIDEBAR */
.b-sidebar_widget{
	margin-bottom: 50px;
	.b-widget_title{
		font-size: 16px; text-transform: uppercase; font-weight: 700; letter-spacing: 1.5px; color: #1B1919; margin-bottom: 25px; position: relative; padding-bottom: 4px;
		&::before{content: ""; position: absolute; bottom: 0; display: inline-block; width: 30px; height: 2px; background-color: rgba(0,0,0,.1);}
	}
	.b-sidenav{
		ul{
			li{
				margin-bottom: 15px; font-size: 12px; color: #bbb; display: block;
				a{color: rgba(0,0,0,.9); font-size: 14px; text-decoration: none; &:hover{color: $accent_default;}}
			}
		}
		ul.b-recent_comment{
			li{
				line-height: 1.4;
				&::before {content: "\e04a"; display: inline-block; font-weight: 400; margin-right: 7px; font-size: 14px; font-family: "simple-line-icons";}
				b{font-weight: 700; color: #000; font-size: 13px;}
				a{
					&:hover{text-decoration: underline;}
				}
			}
		}
		ul.b-recent_post{
			li{
				position: relative; padding-left: 80px; min-height: 85px; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid rgba(124,124,124,.15);
				h3{line-height: 12px; a{font-size: 13px; text-transform: uppercase; letter-spacing: -0.2px;}}
				a.b-recent_blog_img{position: absolute; left: 0; top: 0;}
			}
			li:last-child{
				padding-bottom: 0; border-bottom: none; margin-bottom: 0;
			}
		}
	}
	.b-instagram_pics {
		margin: 0 -5px;
		li .hover-mask::after{top: 20%;}
	}
}

.b-blog_social,.b-footer_socail{
	text-align: center; margin-top: 35px; position: relative;
	&::after{content:""; display: block; height: 1px; width: 100%; position: absolute; left: 0; top: 15px; background-color: rgba(92,92,92,.09);} 
	ul{
		display: inline-block; padding-left: 30px; padding-right: 30px; background-color: #FFF; position: relative; z-index: 99;
		li{
			float: left; margin: 0 8px;
			a{
				position: relative; display: inline-block; width: 30px; height: 30px; line-height: 30px; text-align: center; @include border-radius(50%); background-color: #efefef; color: #8f8f8f;
				&:hover{background-color: #000; color: #fff;}	
			}
		}
	}
}

.b-blog_full{
	.b-blog_single_header {
		.b-post_time{left: -45px;}
		.b-blog_img_wrap{
			display: block;
			img{width: 100%;}
		}
	}	
}


/* Pagination */
.b-pagination{
	ul{
		li{
			display: inline-block;
			a.b-current_page{background-color: #000; color: #fff;}
			a{border: 1px solid transparent; border-bottom-color: #B1B1B1; display: inline-block; text-align: center; width: 34px; line-height: 32px; margin-right: 6px; font-size: 16px; color: #000; &:hover{background-color: #000; color: #fff;}}
			
		}
	}
}

.btn-full{background-color: $accent_default; color: #fff; border-color: $accent_default; &:hover{opacity: .8; color: #fff;}}
.btn-line{border: 2px solid #fff; color: #fff; padding: 10px 40px; background-color: transparent; &:hover{background-color: #000; border-color: #000; color: #fff;}}


.b-font_lora{font-family: $blog_heading_font;}
.b-blog_navigation{
	padding: 15px; margin: 40px 0; background-color: #F7F7F7;
	a{
		font-weight: bold; color: #000; 
		i{position: relative; top: 1px; font-size: 17px; font-weight: bold;} 
		&:hover{color: $accent_default;}
	}
}

@media (max-width: 1170px){
	.b-blog_full .b-blog_single_header .b-post_time{left: -25px}
	.b-blog_grid {
		.b-author_info{font-size: 12px;}
		.b-blog_single_info h3.b-entry_title a{font-size: 18px; line-height: 18px;}
	} 
	.b-blog_social ul li, .b-footer_socail ul li{margin: 0 5px;}
}

@media (max-width: 767px){
	.b-blog_full .b-blog_single_header .b-post_time{left: 0}
}

