body.mobile-menu-open:after {
    content: "";
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.73);
    height: 100%;
}
.b-main_menu.b-vertical {
    display: block;
    position: relative;
}
      /* Drop down */
.b-dropdown_wrapper, .b-dropdown_wrapper-click {
	position:relative;
	display:inline-block;
}
.b-dropdown_content {
	position:absolute;
	background:#ffffff;
	color:#222222;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	visibility: hidden;
	opacity: 0;
	transition: visibility 300ms, opacity 300ms, margin 300ms;
	line-height:21px;
	text-align:left;
	text-transform:none;
	z-index:999;
    min-width: 230px;
}
.b-dropdown_wrapper.from-bottom > .b-dropdown_content .b-dropdown_wrapper.from-bottom > .b-dropdown_content {
    left: calc(100% + 0px);
    top: 0;
    min-width: 200px;
    padding: 20px;
}
.b-dropdown_wrapper:hover > .b-dropdown_content, 
.b-dropdown_wrapper-click.opened > .b-dropdown_content {
	visibility: visible;
	opacity: 1;
	transition: visibility 300ms, opacity 300ms, margin 300ms;
}
.b-dropdown_wrapper.from-top > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-top > .b-dropdown_content {
	margin-top:-15px;
}
.b-dropdown_wrapper.from-bottom > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-bottom > .b-dropdown_content {
	margin-top:15px;
}
.b-dropdown_wrapper.from-top:hover > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-top.opened > .b-dropdown_content, 
.b-dropdown_wrapper.from-bottom:hover > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-bottom.opened > .b-dropdown_content {
	margin-top:0px;
}
.b-dropdown_wrapper.from-left > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-left > .b-dropdown_content {
	margin-right:15px;
}
.b-dropdown_wrapper.from-left:hover > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-left.opened > .b-dropdown_content {
	margin-right:0px;
}
.b-dropdown_wrapper.from-right > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-right > .b-dropdown_content {
	margin-right:-15px;
}
.b-dropdown_wrapper.from-right:hover > .b-dropdown_content, 
.b-dropdown_wrapper-click.from-right.opened > .b-dropdown_content {
	margin-right:0px;
}
.b-dropdown_right {
	right:0;
}
.b-dropdown_left {
	left:0;
}

.b-main_menu:not(.b-vertical) > ul,.b-main_menu:not(.b-vertical) > ul > li,.b-main_menu:not(.b-vertical) > ul > li > a,.b-main_menu:not(.b-vertical) > ul > li.b-dropdown_wrapper > a .fa-angle-down,.b-main_menu.b-vertical .menu-heading {line-height:72px;height:72px;}
.sticky-enabled.sticky-active .table-cell.menu-cell:not(.b-vertical),.sticky-enabled.sticky-active .b-main_menu:not(.b-vertical) > ul,.sticky-enabled.sticky-active .b-main_menu:not(.b-vertical) > ul > li,.sticky-enabled.sticky-active .b-main_menu:not(.b-vertical) > ul > li > a,.sticky-enabled.sticky-active .b-main_menu:not(.b-vertical) > ul > li.b-dropdown_wrapper > a .fa-angle-down {line-height:56px;height:56px;}
/* --------------------*/
/* ------ MENUS -------*/
/* --------------------*/ 
.b-menu_top_bar_container .b-main_menu{padding-top: 15px}
.b-header_dark .b-main_menu > ul > li > a {color: rgba(255, 255, 255, 0.9); &:hover{color: $accent_default;}}
.b-main_menu{
	ul{padding-left: 0; list-style: none; margin-bottom: 0;}
	> ul{
		font-size:0; display:inline-block; text-align: left;
		&.block {display:block;}
		> li{
			display:inline-block; position:relative; font-size:14px;
			> a{
				color: rgba(0, 0, 0, 0.9); display:block; padding-right:11px; padding-left:11px; letter-spacing: 0.5px; text-transform:uppercase;
				> .top{transition:opacity 400ms; -webkit-transition:opacity 400ms;}
				.icon{margin-right:6px;}
				&:hover{color: $accent_default;}
			}
		}
		> li.b-dropdown_wrapper > a {
			padding-right:20px;
		}
		> li.b-dropdown_wrapper > a .fa-angle-down {position:absolute; right: 8px; opacity:0.5; font-size: 12px; text-align:center;}
	}
	.b-dropdown_content {background-repeat:no-repeat; max-width: 850px;}
	.dropdown-inner {
		display: table; width:100%; padding:18px 20px 18px;
		.border-left::before,.border-right::before{
			background:#eeeeee;
		}
		h4.column-title {
			line-height:1.4; text-transform:uppercase; font-size:16px; letter-spacing: 0.6px; margin:5px 0 14px; position:relative; display:inline-block;
			.icon {opacity:0.65; margin-right:7px;}
		}
		ul a:not(:hover) {color:#333333;}
		a .fa {opacity:0.65; margin-right:8px; position: relative; top: 1px; font-size: 15px;}
		.border {display:block; margin:15px 0; border-top:1px solid transparent;}
		ul > li  {
		    transition:padding-left 300ms; display: block;
		    > a {
		    	display:block; padding:8px 0px; transition:padding-left 300ms, opacity 300ms, color 300ms; -webkit-transition:padding-left 300ms, opacity 300ms, color 300ms; position:relative;
				&:hover {padding-left:5px; transition:padding-left 300ms, opacity 300ms, color 300ms; -webkit-transition:padding-left 300ms, opacity 300ms, color 300ms;}
		    }
		}  
		ul.default-menu-ul {
			display:table-cell;
		}
		li.default-menu-li a  {
			min-width:170px;
		}  
	}
	.narrow .dropdown-inner {padding:18px 16px;}
	.menu-item {padding:0 4px;}
	&.b-vertical {
		display:block; position:relative;
		> .b-dropdown_content {visibility:visible; opacity:1; margin:0;}
		.menu-heading {
			height:63px; line-height:63px; display:block; padding:0 20px; color:#ffffff; text-transform:uppercase; margin:0; font-size: 16px; letter-spacing: .3px; font-weight: 700; background-color: rgba(0,0,0,.23);
			.fa-angle-down {position:absolute; right:20px; font-size:16px; top:50%; margin-top:-8px;}
		}
		> ul {
			display:block; width:100%; box-shadow:none;
			> li {
				display:block; position:static;
				.b-dropdown_content {left:100%; top:0;}
				> a {
					color:#ffffff; padding-left:20px; font-size:12px; font-weight:700; line-height:44px;
					.icon {margin-right:10px; font-size:14px;} 
				}
			}
			li.b-dropdown_wrapper > a .fa-angle-down{
				line-height:44px;
			}
			li.b-dropdown_wrapper{
				> a .fa-angle-down {line-height:46px; right: 20px; opacity:1; transform:rotate(-90deg); -webkit-transform:rotate(-90deg);}
			}
		}
		> ul:not(.b-dropdown_content) {position:relative;}
	}
	&.menu-stay-left > ul > li:first-child > a {padding-left:0px;}
} 
.b-header_nav_center{
	.b-dropdown_content{left: 0; right: 0; margin: auto; width: 230px;}
}
.b-menu_content_in{
	.d-block{
		text-align: center; color: #1b1919; text-transform: uppercase; letter-spacing: 0.3px; font-size: 14px; margin-bottom: 5px; 
		span{color: $accent_default;}
		&:hover{text-decoration: underline; color: $accent_default;}
	}
} 
.b-dropdown_wrapper.from-bottom > .b-dropdown_content .b-dropdown_wrapper.from-bottom > .b-dropdown_content {
    left: calc(100% + 0px);
    top: 0;
    min-width: 200px;
    padding: 20px;
}
.b-main_menu-wrapper > ul > li > a {
	display:block; padding-right:12px; padding-left:12px; letter-spacing: 0.5px; text-transform:uppercase;
	> .top{transition:opacity 400ms; -webkit-transition:opacity 400ms;}
	.icon{margin-right:6px;}
}   

/* Mobile menu language & currency */
ul.mobile-top {
	padding-top:10px; background:#f9f9f9;
	> li {padding:0 14px;} 
	> li.search {
		padding:0px 14px; background:#f9f9f9;
		.search-holder-mobile {
			position:relative; margin-bottom:10px; 
			a{position:absolute; right:12px; top:12px; color:#aaaaaa;}
		}
	}
	> li.mobile-lang-curr select {display:inline-block; margin-bottom:10px; width:100%;}
	> li.mobile-lang-curr.has-c.has-l select {width:48%;}
	> li.mobile-lang-curr.has-c.has-l select + select {margin-left:4%;}
}   
.b-main_menu-wrapper {
	transition:left 500ms; -webkit-transition:left 500ms; position:fixed; left:-270px; width:270px; background:#f9f9f9; box-shadow:0 1px 5px rgba(0,0,0,.13); -webkit-box-shadow:0 1px 5px rgba(0,0,0,.13); top:0; bottom:0; z-index:99; overflow-x:hidden;
	ul{padding-left: 0; margin: auto; list-style: none;}
	.hover-menu{
		padding-left: 0; padding-right: 0;
		a{display: inline-block; padding: 6px 0px; transition: padding-left 300ms, opacity 300ms, color 300ms; position: relative;}
	}
	.has-sub{
		> a{position: relative;}
		.sub-holder{background-color: #fff;}
	} 
	> ul {
		> li {
			display:block; border-bottom:1px solid; border-color:#eeeeee;
			> a {padding:11px 14px; line-height:20px; display:block; min-height: 42px; color:#111111; &::after{display: none;}}
		}
		li.dropdown-wrapper > {
			a > {
				.fa-angle-down {position:absolute; right:0; top:0; text-align:center; width:42px; height:42px; line-height:42px; font-size:19px; border-left:1px solid #e9e9e9; opacity:1; background:#f6f6f6;}
				.fa-angle-down:before {transform:rotate(0); -webkit-transform:rotate(0); display:inline-block; transition:transform 500ms; -webkit-transition:transform 500ms;}
			}
			a.open > .fa-angle-down:before {transform:rotate(-180deg); -webkit-transform:rotate(-180deg); transition:transform 500ms; -webkit-transition:transform 500ms;}
		}
	}	
} 
.mobile-menu-open .b-main_menu-wrapper {
	left:0;
	transition:left 500ms; -webkit-transition:left 500ms;
	.dropdown-inner {
		display: none; width:100%;
		.menu-item{
			padding: 0; margin: 0 -15px; border-top: 1px solid #eeeeee; 
		}
		.border-left::before,.border-right::before{
			background:#eeeeee;
		}
		h4.column-title {
			line-height:1.4; text-transform:uppercase; font-size:16px; letter-spacing: 0.6px; margin:0 0 14px; position:relative; display:inline-block;
			.icon {opacity:0.65; margin-right:7px;}
		}
		ul a:not(:hover) {color:#333333;}
		a .fa {opacity:0.65; margin-right:8px;}
		.border {display:block; margin:15px 0; border-top:1px solid transparent;}
		ul > li  {
		    transition:padding-left 300ms;
		    > a {
		    	display:block; padding: 15px; background-color: #fffbfb; border-bottom: 1px solid #eeeeee; transition:padding-left 300ms, opacity 300ms, color 300ms; -webkit-transition:padding-left 300ms, opacity 300ms, color 300ms; position:relative; text-transform: uppercase;
				&:hover {color: $accent_default; transition:padding-left 300ms, opacity 300ms, color 300ms; -webkit-transition:padding-left 300ms, opacity 300ms, color 300ms;}
		    }
		}  
		ul.default-menu-ul {
			display:table-cell;
		}
		li.default-menu-li a  {
			min-width:170px;
		}  
	}
}

.search-holder-mobile{
	position: relative; margin-bottom: 15px;
	a{position: absolute; top: 12px; right: 15px;}
}

@media (max-width: 1023px) {
.mobile-menu-open .main-wrapper,
.side-filter-open .main-wrapper {
	margin-right:-270px;
	margin-left:270px;
	transition:margin-left 500ms, margin-right 500ms;
}
.mobile-menu-open .sticky-enabled.sticky-active .sticky-header,
.side-filter-open .sticky-enabled.sticky-active .sticky-header {
	left:270px;
	right:-270px;
	transition:left 500ms, right 500ms;
}
}    
@media (min-width: 992px) and (max-width: 1199px) {
	.b-main_menu {
		> ul > li{
			> a {padding-right:9px;padding-left:8px; font-size: 13px; letter-spacing: 0}
			&.b-dropdown_wrapper > a {
				padding-right:15px;
				.fa{right:5px;}
			}
		}
		&.b-vertical{
			> ul > li .b-dropdown_content {max-width:700px !important;}
		}
	} 
} 
  
@media (min-width: 768px) and (max-width: 991px) {
	.b-main_menu.b-vertical > ul > li .b-dropdown_content {max-width:550px !important;}
}
@media (min-width: 992px) {
	.b-main_menu.b-vertical > ul > li > {
		.b-dropdown_content {margin-top:0 !important; margin-left:-15px !important }
	}
	.b-main_menu.b-vertical > ul > li:hover .b-dropdown_content {
		margin-left:0px !important
	}	
}    

/* Menu Labels */
.menu-tag {
	font-style:normal; font-weight:600; position: absolute; top: 48%; left:100%; margin-top: -26px; margin-left:-20px; padding: 2px 3px 2px 4px; white-space:nowrap; color: rgba(255,255,255,0.95); letter-spacing:0.5px; height:14px; display:inline-block; line-height: 10px; font-size: 7px; font-family: Verdana, Geneva, sans-serif; background:#D41212;
	&::before {content: "\f0da"; font-family: FontAwesome; font-size: 12px; position: absolute; bottom: -4px; left: 3px; color:#D41212;}
}
.menu-tag.sale {background:#D41212;}
.menu-tag.sale:before {color:#D41212;}
.menu-tag.new {background:#179a94;}
.menu-tag.new:before {color:#179a94;}
.menu-tag.hot {background:#EF7C0A;}
.menu-tag.hot:before {color:#EF7C0A;}
.hover-menu{
	.menu-tag {position: relative; top: -10px; left: 22px;}
}